/* HEADER STYLES */
.icon-brand {
  font-size: 30px;
}

.brand-title {
  font-size: 20px;
  font-weight: 600;
}

#basic-nav-dropdown {
  color: #76ffff;
}

.user-dropdown-btn {
  border-radius: 10px;
  border: 1px solid #76ffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* SIGN IN STYLES */
.google-btn {
  background: white;
  color: black;
}

/* BUTTON STYLES */
.gradient-header {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.1)
  );
  background-repeat: repeat-x;
}

.gradient-buttons {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.1)
  );
  background-repeat: repeat-x;
}

/* SHOPPING LIST */

.item-container {
  padding: 5px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
.item-li {
  list-style-type: none;
}
