.icon-brand {
  font-size: 30px;
}

.brand-title {
  font-size: 20px;
  font-weight: 600;
}

.google-btn {
    background: white;
    color: black;
}

.img-google-btn {
    margin-bottom: 0.1em;
    margin-right: 0.5em;
}